@{
    ViewData["Title"] = "Home Page";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <img src="https://i.pinimg.com/474x/b8/d1/45/b8d145ec1504ccfbeceff70bf5219c66.jpg" width="60px" />
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ananta Salon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <nav>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Info">Info & Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Rambut">Rambut</a>
                            <ul class="dropdown">
                                <li><a href="#">Potong Rambut</a></li>
                                <li><a href="#">Keramas</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Wajah">Wajah</a>
                            <ul class="dropdown">
                                <li><a href="#">masker</a></li>
                                <li><a href="#">Facial Wash</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Insert">Pemesanan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LoginAdmin">Login</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="Berita">
        <div class="Text">
            <h1><span class="text-otomatis"></span></h1>
            <p>
                Memiliki kulit wajah yang sehat, tentu menjadi idaman bagi semua orang.<br>
                Sayangnya, ada banyak hal yang tanpa disadari justru bisa merusak kulit wajah,<br>
                mulai dari faktor lingkungan hingga kebiasan buruk. Oleh karena itu,<br>
                penting bagi Anda untuk selalu merawat kulit wajah secara rutin.
            </p>

            <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
            <script>
                var typed = new Typed(".text-otomatis", {
                    strings: ["Pentingnya Perawatan Wajah"],
                    typeSpeed: 100,
                    backSpeed: 100,
                    loop: true
                })
            </script>
        </div>
        <div class="Gambar_Berita">
            <img src="https://akcdn.detik.net.id/community/media/visual/2021/02/13/rambut-indah-maudy-ayunda-jadi-bintang-iklan-shampoofoto-instagramcommaudyayunda.jpeg?w=620&q=90" width="500px" />

        </div>
    </div>

</div>
<div class="container2">
    <div class="Berita">
        <div class="Text">
            <h1><span class="text-otomatis"></span></h1>
            <p>
                Memiliki kulit wajah yang sehat, tentu menjadi idaman bagi semua orang.<br>
                Sayangnya, ada banyak hal yang tanpa disadari justru bisa merusak kulit wajah,<br>
                mulai dari faktor lingkungan hingga kebiasan buruk. Oleh karena itu,<br>
                penting bagi Anda untuk selalu merawat kulit wajah secara rutin.
            </p>

            @*  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
            <script>
            var typed = new Typed(".text-otomatis", {
            strings: ["Pentingnya Perawatan Wajah"],
            typeSpeed: 100,
            backSpeed: 100,
            loop: true
            })
            </script>*@
        </div>
        <div class="Gambar_Berita">
            <img src="https://akcdn.detik.net.id/community/media/visual/2021/02/13/rambut-indah-maudy-ayunda-jadi-bintang-iklan-shampoofoto-instagramcommaudyayunda.jpeg?w=620&q=90" width="500px" />

        </div>
    </div>

</div>
<footer class="border-top footer text-muted">
    <div class="footer">
        &copy; 2022 - MVC_ASP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>