@{
    ViewData["Title"] = "Pemesanan";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <img src="https://i.pinimg.com/474x/b8/d1/45/b8d145ec1504ccfbeceff70bf5219c66.jpg" width="60px"  />
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ananta Salon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <nav>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="IndexPel">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="InfoPel">Info & Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="RambutPel">Rambut</a>
                            <ul class="dropdown">
                                <li><a href="#">Potong Rambut</a></li>
                                <li><a href="#">Keramas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="WajahPel">Wajah</a>
                            <ul class="dropdown">
                                <li><a href="#">masker</a></li>
                                <li><a href="#">Facial Wash</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Pemesanan">Pemesanan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </nav>
</header>


@model MVC_ASP.Models.UserModel


<section class="get-in-touch">
    <h1 class="title">Pemesanan</h1>
    <form class="contact-form row" form asp-controller="Home" asp-action="InsertUser">
        <div class="form-field col-lg-6">
            <input class="input-text js-input" type="text" required asp-for="Id" id="Id">
            <label class="label" asp-for="Id">Id</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input class="input-text js-input" type="text" required asp-for="Username" id="Username">
            <label class="label" asp-for="Username">Nama</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input class="input-text js-input" type="text" required asp-for="Email" id="email">
            <label class="label" asp-for="Email">E-mail</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input class="input-text js-input" type="text" required asp-for="Nohp" id="Nohp">
            <label class="label" asp-for="Nohp">No Hp</label>
        </div>
        <div class="form-field col-lg-12 ">
            <input class="input-text js-input" type="text" required asp-for="Jenis" id="Jenis">
            <label class="label" for="Jenis">Jenis Perawatan</label>
        </div>
        <div class="form-field col-lg-12 ">
            <input class="input-text js-input" type="text" required asp-for="Tanggal" id="Tanggal">
            <label class="label" for="Tanggal">Tanggal Perawatan</label>
        </div>
        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>
</section>