@{
    ViewData["Title"] = "Perawatan Rambut";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <img src="https://i.pinimg.com/474x/b8/d1/45/b8d145ec1504ccfbeceff70bf5219c66.jpg" width="60px" />
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ananta Salon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <nav>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="IndexPel">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="InfoPel">Info & Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="RambutPel">Rambut</a>
                            <ul class="dropdown">
                                <li><a href="#">Potong Rambut</a></li>
                                <li><a href="#">Keramas</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="WajahPel">Wajah</a>
                            <ul class="dropdown">
                                <li><a href="#">masker</a></li>
                                <li><a href="#">Facial Wash</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Pemesanan">Pemesanan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </nav>
</header>

<section>
    <div class="kolom-berita">
        <div class="Berita">
            <div class="Text">
                <h1><span class="text-otomatis"></span></h1>
                <p>
                    adalah istilah keseluruhan untuk kebersihan dan tata rias pada rambut  <br>
                    yang tumbuh di kulit kepala manusia. Selain membuat rambut <br>
                    berkilau, perawatan rambut juga memiliki fungsi untuk membuat  <br>
                    rambut sehat dan halus serta terbebas dari kerontokan dan ketombe.
                </p>

                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
                <script>
                    var typed = new Typed(".text-otomatis", {
                        strings: ["Perawatan Rambut"],
                        typeSpeed: 100,
                        backSpeed: 100,
                        loop: true
                    })
                </script>
            </div>
            <div class="Gambar_Berita">
                <img src="https://cdn.hellosehat.com/wp-content/uploads/2018/01/shutterstock_228991456.jpg" width="500px" />

            </div>
        </div>
    </div>
</section>
<section>
    <div class="judul-halaman">
        <h1></h1>

    </div>
    <div>

        <div class="swiper mySwiper kolom2">
            <div class="swiper-wrapper content">
                <div class="swiper-slide card">
                    <div class="card-content">

                        <div class="gambar">
                            <img src="https://asset-a.grid.id/crop/0x0:0x0/700x465/photo/2022/07/23/ibu-hamil-dilarang-potong-rambut-20220723071033.jpg" alt="" />

                        </div>
                        <div class="details">
                            <div class="plus-icons">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="nama-produk">
                                <span class="nama">Potong Rambut</span>
                                <span class="nama">Rp. 25.000</span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="swiper-slide card">
                    <div class="card-content">

                        <div class="gambar">
                            <img src="https://images.solopos.com/2022/07/ilustrasi-mengecat-rambut.jpg?_gl=1*12dimvn*_ga*Njg5NzEzNTYyLjE2NzA1MDEwNTM.*_ga_N48JD3Q0D2*MTY3MDUwMTA1Mi4xLjEuMTY3MDUwMTA1Mi42MC4wLjA." alt="" />

                        </div>
                        <div class="details">
                            <div class="plus-icons">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="nama-produk">
                                <span class="nama">Semir Rambut</span>
                                <span class="nama">Rp. 60.000</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="swiper-slide card">
                    <div class="card-content">

                        <div class="gambar">
                            <img src="https://statik.tempo.co/data/2016/03/23/id_492001/492001_620.jpg" alt="" />

                        </div>
                        <div class="details">
                            <div class="plus-icons">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="nama-produk">
                                <span class="nama">Creambath</span>
                                <span class="nama">Rp. 30.000</span>
                            </div>
                        </div>

                    </div>

                </div> <div class="swiper-slide card">
                    <div class="card-content">

                        <div class="gambar">
                            <img src="https://tedas.id/wp-content/uploads/2021/06/Smoting-rambut-2.jpg.webp" alt="" />

                        </div>
                        <div class="details">
                            <div class="plus-icons">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="nama-produk">
                                <span class="nama">Smothing</span>
                                <span class="nama">Rp. 100.000</span>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 10,
        slidesPerGroup: 4,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
