@{
    ViewData["Title"] = "Signup";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <img src="https://i.pinimg.com/474x/b8/d1/45/b8d145ec1504ccfbeceff70bf5219c66.jpg" width="60px"/>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ananta Salon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <nav>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Info">Info & Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Rambut">Rambut</a>
                            <ul class="dropdown">
                                <li><a href="#">Potong Rambut</a></li>
                                <li><a href="#">Keramas</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Wajah">Wajah</a>
                            <ul class="dropdown">
                                <li><a href="#">masker</a></li>
                                <li><a href="#">Facial Wash</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LoginMain">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sign">SignUp</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </nav>
</header>

<div class="container d-flex justify-content-center align-items-center" style="font-family: 'Barlow' , sans-serif; width: 750px; height: 500px;">
    <div class="row">
        <div class="col py-4">
            <h1><b>@ViewData["Title"]</b></h1>
        </div>
        <div class="col">
            @model MVC_ASP.Models.PelangganModel
            <form asp-controller="Home" asp-action="Signup">
                <div class="form-group">
                    <label asp-for="emailpel" class="mt-2">Email</label>
                    <input asp-for="emailpel" type="text" class="form-control" id="emailpel">
                    <label asp-for="userpel" class="mt-2">Username</label>
                    <input asp-for="userpel" type="text" class="form-control" id="userpel">
                    <label asp-for="pswpel" class="mt-2">Password</label>
                    <input asp-for="pswpel" type="password" class="form-control" id="pswpel">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>

</div>