@{
    ViewData["Title"] = "Perawatan Wajah";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <img src="https://i.pinimg.com/474x/b8/d1/45/b8d145ec1504ccfbeceff70bf5219c66.jpg" width="60px" />
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ananta Salon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <nav>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="IndexAdmin">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="InfoAdmin">Info & Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="RambutAdmin">Rambut</a>
                            <ul class="dropdown">
                                <li><a href="#">Potong Rambut</a></li>
                                <li><a href="#">Keramas</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="WajahAdmin">Wajah</a>
                            <ul class="dropdown">
                                <li><a href="#">masker</a></li>
                                <li><a href="#">Facial Wash</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Process">Pendataan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </nav>
</header>

<section>
    <div class="kolom-berita">
        <div class="Berita">
            <div class="Text">
                <h1><span class="text-otomatis"></span></h1>
                <p>
                    Perawatan kulit wajah adalah metode atau proses perawatan untuk   <br>
                    memelihara kesehatan kulit dan mencegah maupun mengatasi  <br>
                    berbagai masalah kulit wajah. Prosedur ini dapat dilakukan secara  <br>
                    rutin, baik di rumah maupun di klinik estetika atau rumah sakit.<br>

                </p>

                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
                <script>
                    var typed = new Typed(".text-otomatis", {
                        strings: ["Perawatan Wajah"],
                        typeSpeed: 100,
                        backSpeed: 100,
                        loop: true
                    })
                </script>
            </div>
            <div class="Gambar_Berita">
                <img src="https://d1bpj0tv6vfxyp.cloudfront.net/articles/e03adc38-b9a2-4bc5-9d7d-2f359db2b1d1_article_image_url.webp" width="500px" />

            </div>
        </div>
    </div>
    <div class="judul-halaman">
        <h1></h1>

    </div>
    <div>
    </div>
    <div>
        <div class="swiper mySwiper kolom2">
            <div class="swiper-wrapper content">
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="gambar">
                            <img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/25/2948179940.jpg" alt="" />

                        </div>
                        <div class="details">
                            <div class="plus-icons">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="nama-produk">
                                <span class="nama">Masker Wajah</span>
                                <span class="nama">Rp. 60.000</span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="gambar">
                            <img src="https://cnfstore.com/pub/media/mageplaza/blog/post/m/a/makeup_flawless.jpg" alt="" />

                        </div>
                        <div class="details">
                            <div class="plus-icons">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="nama-produk">
                                <span class="nama">Make Up</span>
                                <span class="nama">Rp. 200.000</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="gambar">
                            <img src="https://mindbodygreen-res.cloudinary.com/image/upload/c_fill,w_800,h_400,g_auto,q_85,fl_lossy,f_jpg/org/734ocv95vl2tasfy1.undefined" alt="" />

                        </div>
                        <div class="details">
                            <div class="plus-icons">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="nama-produk">
                                <span class="nama">Acne Facial</span>
                                <span class="nama">Rp. 80.000</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="gambar">
                            <img src="https://images.f2fcdn.net/files/kennissa/facial-treatment.jpg" alt="" />

                        </div>
                        <div class="details">
                            <div class="plus-icons">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div class="nama-produk">
                                <span class="nama">Facial Treatment</span>
                                <span class="nama">Rp. 100.000</span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

    </div>





</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 10,
        slidesPerGroup: 4,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>